@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div>
    <canvas id="myChart"></canvas>
</div>  

<div>
    <canvas id="statisticalTopicWithIdeas"></canvas>
</div>
<div>
    <canvas id="statisticalDepartmentWithIdeas"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var dataStatisticalCategoryWithIdeas = @Html.Raw(Json.Serialize(ViewBag.ChartDataStatisticalCategoryWithIdeas));
    var optionsStatisticalCategoryWithIdeas = @Html.Raw(Json.Serialize(ViewBag.ChartOptionsStatisticalCategoryWithIdeas));

    var ctxStatisticalCategoryWithIdeas = document.getElementById("statisticalCategoryWithIdeas");
    var StatisticalCategoryWithIdeas = new Chart(ctxStatisticalCategoryWithIdeas, {
        type: 'pie',
        data: dataStatisticalCategoryWithIdeas,
        options: optionsStatisticalCategoryWithIdeas,
    });


</script>

